# assemble
*.o
*.obj
*.lst

# python
__pycache__/
*.py[cod]
.venv/
venv/

# éditeurs / OS
*~
*.swp
.DS_Store
Thumbs.db

# IDA / binja locaux (on garde les dumps .asm/.c déjà exportés)
*.id0
*.id1
*.id2
*.nam
*.til
*.idb
*.i64
*.binja
*.bndb

# local wine patches
*-winehwnd0.exe
